@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    max-width: 100%;
}

html {
    scrollbar-color: #5B1FAF black;
}

body {
    background-color: black;
    color: #ccc;
    font-family: "JetBrains Mono", monospace;
    margin: 0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container * {
    font-family: "Plus Jakarta Sans", system-ui, sans-serif;
    font-weight: 400;
    color: #D1D5DB;
}

.container {
    width: 100%;
    max-width: 850px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #FFFFFF1D;
    background: #FFFFFF0D;
    margin: 0 auto;
    margin-bottom: 10px;
    mask-image: linear-gradient(#00000000, black 20px);
}

.card * {
    font-family: "Plus Jakarta Sans", system-ui, sans-serif;
    font-weight: 400;
    color: #D1D5DB;
}

.card {
    width: 100%;
    max-width: 850px;
    overflow-wrap: break-word;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #FFFFFF1D;
    background: #FFFFFF0D;
    margin: 0 auto;
    margin-bottom: 10px;
}

nav {
    position: sticky;
    top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 7px 5px;
    border-radius: 20px;
    border: 1px solid #FFFFFF1D;
    background: #FFFFFF0D;
    gap: 10px;
    backdrop-filter: blur(12px);
}

ul li a {
    display: block;
    color: #ccc;
    text-align: center;
    font-size: 16px;
    padding: 5px 16px;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #fff;
}

.active {
    color: #fff;
    font-weight: bolder;
}

.join {
    background: white;
    color: black;
}

.join:hover {
    background: black;
    color: white;
}
