<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/sponsor">OUTREACH</a></li>
        <li><a href="/subteams">SUBTEAMS</a></li>
        <li><a href="/sponsor">SPONSOR</a></li>
        <li><a href="/sponsor">JOIN</a></li>
    </ul>
</nav>
