<nav>
    <ul>
        <li><a href="/" class:list={{ active: Astro.url.pathname == "/"}} class="home">HOME</a></li>
        <li><a href="/about" class:list={{ active: Astro.url.pathname == "/about"}}>ABOUT</a></li>
        <li><a href="/subteams" class:list={{ active: Astro.url.pathname == "/subteams"}}>SUBTEAMS</a></li>
        <li><a href="/outreach" class:list={{ active: Astro.url.pathname == "/outreach"}}>OUTREACH</a></li>
        <li><a href="/contact" class:list={{ active: Astro.url.pathname == "/contact"}}>CONTACT</a></li>
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdyP_dWeTw2k_jpirVtV1X8-CkGLT4eZHPB58OIO8XMiTX7zA/viewform" target="_blank" {{ active: Astro.url.pathname == "/join"}} class="join">JOIN FRC TEAM 11755</a></li>
    </ul>
</nav>
